.about-details {
  width: 100%;
  margin: 0 auto;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background:var(--deep-black);
 
  transition: transform 300ms ease-in-out;
  .lang {
    width: 80%;
    padding-left: 1rem;
  }
  .icons {
    background: #fff;
    padding: 2rem 0;
    width: 20%;
    font-size: 3rem;
    color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
