.footer {
  background: #fafbfc;
  padding: 4rem 0;
  a {
    font-size: 2rem;
    color: #000e35;
  }

  .footer-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 2.4rem;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100px;
      margin: 0 auto;
    }
  }
}
